<<<<<<< HEAD
body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

=======

@font-face{

	font-family: "OpenSans";
	src: url(fonts/OpenSans-Regular.eot) format('eot');
	src: url(fonts/OpenSans-Regular.ttf) format('ttf');
	src: url(fonts/OpenSans-Regular.woff) format('woff') ;

	src: url(fonts/OpenSans-Bold.eot) format('eot');
	src: url(fonts/OpenSans-Bold.ttf) format('ttf');
	src: url(fonts/OpenSans-Bold.woff) format('woff') ;
}


html{
	padding: 0;
	margin: 0;
	font-family: "OpenSans";
}


header{
	background-color: #e4edf2;
}

.menu{
	display: none;
}

.logo{
	font: "OpenSans";
	display: flex;
	align-items: center;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
}
.logo p{
	margin: 0;
	padding-left: 10px;
	color: green;
}



ul {
	position: absolute;
	display: none;
	width: 100%;
	background: white;
	z-index: 2;

}

ul li{
	transition: 0.2s;

}

ul li a{
	padding: 20px 25px;
	display: block;
	color: black;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
}



.hamburger {
	color: green;
	font-size: 10px;
	padding: 2px;
	margin: 20px;

	display: inline-block;
	cursor: pointer;

}


.fullscreen-bg__video {
  position: absolute;
  right: 0;
  top: 60px;
  bottom: 5900px;
  min-width: 100%; 
  min-height: 100px;
  z-index: -100;

}

.video_container {
	margin: 40%;
}
.overlay {
    background: rgba(0,0,0,0);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
 
.overlay p {
	

		font-family: "OpenSans";
    text-align: center;
    color:#fff;
    font-size: 20px;
    margin-top:17%;

}

.date_news {
	bottom: 80px;
	left: 80px;

}

.news {
	background: url(news-bg.jpeg) center no-repeat;
	background-size: cover;
	position: absolute;
	min-width: 100%;
	left: 0;
}

#check-menu{
    display: none;
}

.title_news {
	bottom:  80px;
	left: 20px;
	position: relative;
}

.archive_card {
	margin-left: 20px;
	margin-right: 20px;

	position: relative;
}

article {

	margin: 10px;
	padding: 20px;
	position: relative;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.curled_img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0% 0% 0% 100%;
	width: 100%;
	max-width: 100px;
	max-height: 100px;
	
}

.response {
	background: url(review-bg.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;

	min-width: 100%;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
}

.response_card {
	background-image: url('review-quotes-bg.png');
	/*background-size: auto; */
	margin: 10px;
	padding: 20px;
	bottom: 3%;
	/*position: relative;*/
	box-sizing: border-box;
	background: white;
}

.grad {
	/*filter: brightness(50%) ;	*/
	/*background-image: linear-gradient(white, black);*/
	background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('your_url');
}

#reviews_logo {
	display: block;
	max-height: 50px;
	max-width: 100px;
}

.title_text {
	text-align: center;
	/*margin-top: 40px; */
	padding-top: 40px;
	margin-bottom: 50px; 
}

.projects {
	position: relative;
	/*display: flex;*/

/*	margin-top: 80px;
	text-align: center;
	position: relative;*/

}

.text_bottom{
	color: white;
	position: absolute;
  bottom: 30%;
  left: 30%;
}

.green_text {
	color: green;
	text-decoration: underline;
	text-decoration-color: green;
}

.white_text {
	color: white;
	text-decoration: underline;
	text-decoration-color: white;
}

.grey_text {
	color: grey;
	position: relative;
	display: flex;
}


.logos {
	margin: 5px;
	max-width: 230px;
	
	display: flex;	
	align-content: center;
	align-items: center;

	justify-content: center;
}

.article_text {
	position: absolute;
	bottom: 0px;
	left: 20px;
	padding: 10px;
	margin: 10px;
	border-bottom: 10px green;
}

.article_img_logo {

	margin: 10px;
	padding: 15px;
}

.logos_div {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.another_image{
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;

	/*background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);*/
	
}


.container {
	max-width: 1170px;
	margin: 0 auto;

}

.gradient_1 {

	position: relative;

	display: inline-block;
	margin-bottom: 20px;
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), url('img/ruble.JPG') no-repeat;
}

.gradient_2 {
	display: inline-block;
	margin-bottom: 20px;
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), url('img/carrot.jpg') no-repeat;
}

.gradient_3 {
	display: inline-block;
	margin-bottom: 20px;
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%), url('img/a_003.jpg') no-repeat;
}



.grad_1 {
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%), url('img/file1.jpg') no-repeat;
}

.grad_2 {
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%), url('img/a_002.jpg') no-repeat;
}

.grad_3 {
	height: 280px;
	width: 280px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 100%), url('img/calc.jpg') no-repeat;	
}


.eye_position {
	color: white;
	position: relative;
	top: 90%;
	left: 20px;	
}

.date_proj {
	color: white;
	/*position: relative;*/
	top: 90px;
	left: 40px;
}
.descr {
	color: white;
	position: relative;
	font-size: 1px;
	font-weight: 2px;
	top: 50px;
	left: 10px;
}

.Articles {
	display: flex;
	justify-content: space-around;
	/*background:linear-gradient(to bottom, rgba(0,0,0,0) 20%, rgba(0,0,0,1)), url('img/file1.jpg');*/
}

div article h1 {
	color: #30c954;
	font-size: 50px;
	position: relative;	
	
}


#articles {
  padding: 50px 15px 50px 15px; }
  #articles .all_reviews {
    margin-top: 30px; }
    #articles .all_reviews a {
      color: #24aa17; }
      #articles .all_reviews a:hover {
        text-decoration: underline; }
    #articles .all_reviews .fa {
      color: #24aa17; }
  #articles .project-cards .project-card .overlay a {
    bottom: 110px; }
  #articles .project-cards .project-card .overlay p {
    padding-top: 10px;
    position: absolute;
    bottom: 40px;
    padding: 0 20px;
    color: #ffffff;
    font-size: 14px; }


#news {
  padding: 30px 15px 50px 15px;
  background: url(../img/news-bg.jpg) center no-repeat;
  background-size: cover; 
}
#news .news-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; 
          }
#news .news-block .block {
      background: #ffffff;
      padding: 30px 20px;
      max-width: 450px;
      margin-bottom: 20px; }
#news .news-block .block .news__date {
        color: #717075;
        font-size: 18px; }
#news .news-block .block .news__date span {
          font-size: 60px;
          color: #87d07f;
          font-family: "Open Sans ExtraBold";
          line-height: 0.5; }
#news .news-block .block h4 {
        font-family: "Open Sans Bold";
        margin: 15px 0; }
#news .news-block .block p {
        color: #717075;
        font-size: 14px;
        padding-bottom: 10px; }
#news .news-block .block p a {
          color: #717075; }
          #news .news-block .block p a:hover {
            color: #24aa17; }
#news .news-block .block .news__button {
        display: inline-block;
        background: #e6e9ee;
        padding: 15px 20px;
        color: #a7b0c1;
        font-family: "Open Sans Bold";
        -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out; }
#news .news-block .block .news__button:hover {
          background: #24aa17;
          color: #ffffff; }
#news .all_reviews .fa {
    color: #24aa17; }
#news .all_reviews .more {
    color: #ffffff;
    -moz-text-decoration-color: #ffffff;
         text-decoration-color: #ffffff; }




.eye_pos {
	color: white;
	position: relative;
	top: 250px;
	left: 15px;
}

.thumb_up_pos {
	color: white;
	position: relative;
	top: 210px;
	left: 205px;
}

.thumb_down_pos {
	color: white;
	position: relative;
	top: 210px;
	left: 210px;	
}

.poliv {
	color: white;
	position: relative;
	display: flex;
	top: 40px;
	left: 10px;
	font-size: 8px;

	/*-webkit-text-stroke: 0.2px black;*/
}

.date {
	color: white;
	position: relative;
	font-size: 1px;
	top: 230px;
	left: 100px;
	font-style: normal;
	font-weight: 400;
}


#project {
  padding: 0 15px; }

.project-cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  .project-cards .project-card {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    max-width: 280px;
    max-height: 280px; }
    .project-cards .project-card .overlay {
      background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.7));
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      max-width: 280px;
      max-height: 280px; }
      .project-cards .project-card .overlay a {
        display: inline-block;
        position: absolute;
        bottom: 40px;
        color: #ffffff;
        font-family: "Open Sans Bold";
        text-transform: uppercase;
        padding: 0 20px;
        font-size: 14px;
        line-height: 1.5; }
        .project-cards .project-card .overlay a:hover {
          text-decoration: underline; }
      .project-cards .project-card .overlay .overlay-info {
        width: 240px;
        position: absolute;
        bottom: 15px;
        color: #ffffff;
        padding: 0 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 14px; }
        .project-cards .project-card .overlay .overlay-info .likes .fa:hover {
          cursor: pointer;
          color: #24aa17;
          -webkit-transition: 0.3s ease-in-out;
                  transition: 0.3s ease-in-out; }
    .project-cards .project-card img {
      max-width: 280px;
      max-height: 280px; }

.all_projects {
  color: #24aa17;
  padding-top: 40px; }

.all_projects-1 {
  display: none;
  position: absolute;
  right: 30px;
  padding-top: 80px; }



.info-block {
  padding: 15px 15px 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: none; }
  .info-block .list {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 20px; }
    .info-block .list .fa {
      color: #24aa17; }
    .info-block .list p {
      color: #717075;
      margin: 5px 0; }
  .info-block .contacts {
    padding-bottom: 20px; }
    .info-block .contacts a {
      text-decoration: none;
      color: #24aa17;
      font-size: 14px; }
    .info-block .contacts p {
      margin: 5px 0;
      font-size: 14px;
      color: #717075; }
  .info-block .social {
    color: #717075;
    padding-bottom: 10px; }
    .info-block .social .fa {
      margin-top: 10px;
      color: #ffffff;
      background: #c8ced9;
      padding: 5px;
      border-radius: 7px;
      margin-right: 7px;
      font-size: 20px;
      -webkit-transition: 0.2s ease-in-out;
              transition: 0.2s ease-in-out; }
      .info-block .social .fa:hover {
        background: #24aa17;
        cursor: pointer; }



.desktop-menu {
  background: white;
  border-top: 1px solid #d7dbe3;
  display: none; }
  .desktop-menu .nav-bar__menu {
    text-transform: uppercase;
    font-size: 14px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .desktop-menu .nav-bar__menu li.item:hover {
      background: #f5f6f8;
      -webkit-transition: 0.2s ease-in-out;
              transition: 0.2s ease-in-out; }
    .desktop-menu .nav-bar__menu li.item a {
      display: inline-block;
      padding: 30px 20px;
      font-size: 14px;
      color: black;
      font-family: "Open Sans Regular"; }
    .desktop-menu .nav-bar__menu li.search {
      border-right: 1px solid #d7dbe3;
      border-left: 1px solid #d7dbe3;
      padding: 30px 20px;
      margin: 0;
      position: relative; }
      .desktop-menu .nav-bar__menu li.search:hover {
        cursor: pointer; }
      .desktop-menu .nav-bar__menu li.search .fa {
        color: #24aa17;
        font-size: 18px;
        margin: 0; }
    .desktop-menu .nav-bar__menu .gamburger {
      border-right: 1px solid #d7dbe3;
      border-left: 1px solid #d7dbe3;
      padding-left: 20px;
      padding-right: 20px; }
      .desktop-menu .nav-bar__menu .gamburger .fa {
        color: #24aa17;
        font-size: 18px;
        margin: 0;
        margin-left: 0;
        margin-right: 5px;
        padding-top: 30px;
        padding-bottom: 30px; }
      .desktop-menu .nav-bar__menu .gamburger:hover > .fa {
        background: none; }
      .desktop-menu .nav-bar__menu .gamburger:hover {
        background: #f5f6f8;
        -webkit-transition: 0.2s ease-in-out;
                transition: 0.2s ease-in-out; }
      .desktop-menu .nav-bar__menu .gamburger ul {
        margin-left: -20px;
        max-width: 300px; }
        .desktop-menu .nav-bar__menu .gamburger ul li {
          -webkit-transition: 0.2s ease-in-out;
                  transition: 0.2s ease-in-out; }
          .desktop-menu .nav-bar__menu .gamburger ul li:hover {
            background: #24aa17; }
            .desktop-menu .nav-bar__menu .gamburger ul li:hover a {
              color: #ffffff; }
          .desktop-menu .nav-bar__menu .gamburger ul li a {
            padding: 20px 25px;
            display: block;
            color: black;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase; }



>>>>>>> up to date
